<div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6"  > 
                <form  (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Authentification</h3></div>
                    <div class="card-body">
                        <div class="alert alert-danger" *ngIf="messageErreur">{{ messageErreur }}</div>
            
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Pseudo</label>
                                <input class="form-control py-4" name="name" id="inputEmailAddress" type="text" placeholder="Entrer votre nom" ngModel/></div>
                            <div class="form-group mt-4"><label class="small mb-1" for="inputPassword">Mot de passe</label>
                                <input class="form-control py-4" name="password" id="inputPassword" type="password" placeholder="Entrer votre mot de passe" ngModel/></div>
                     
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-primary" type="submit" >Connexion</button>
                    </div>

                </div>
            </form>
            <ngx-spinner 
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="square-jelly-box">
        </ngx-spinner>
            </div>

        </div>
        
    </div>
   