<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <mat-drawer-container >
    <mat-drawer mode="side" [opened]="sideBarOpen" *ngIf="authenticationService.isAuthenticated">
      <!-- <mat-drawer mode="side" opened="true"> -->
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (toggleSidebarForMe)="sideBarToggler()" *ngIf="authenticationService.isAuthenticated"></app-header>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

</body>
</html>
