<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>


  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>home</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/categorie"> 	<mat-icon>view_module</mat-icon> Catégories </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/medicament"> <mat-icon> local_pharmacy</mat-icon> Médicaments </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/approvisionnement"> <mat-icon>shopping_basket</mat-icon> Médicaments approvisionner </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/vente"> <mat-icon>shopping_cart</mat-icon> Ventes </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/rupture"> <mat-icon>remove_shopping_cart</mat-icon> En rupture </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/peromption"> <mat-icon>update</mat-icon> En cours de péromption </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/expiration"> <mat-icon>watch_later</mat-icon> Expiration </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/caisse"> <mat-icon> money</mat-icon> Caisse </a>
</mat-nav-list>
