<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Liste des médicaments en rupture</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="alert alert-danger mt-3" *ngIf="rupture.message">
            <h4 class="alert-heading"><mat-icon>info</mat-icon> Danger</h4>
            <p>Certain de vos médicament ont déja atteint le seuil de sécurité ou sont déja en rupture de stock.</p>
        </div>
         <table  *ngIf="rupture.content.length"  class="table table-bordered table-striped "  datatable [dtOptions]="dtOptions">
            <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Code approv</th>
                    <th>Qte comd</th>
                    <th>Qte en stock</th>
                    <th>Stock sécu</th>
                    <th>Prix d'achat unitaire</th>
                    <th>Date d'approv</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of rupture.content">
                    <td>{{ data.medicamment.libelle }}</td>
                    <td><span class="badge bg-primary">{{ data.code }}</span></td>
                    <td>{{ data.qte_comd }}</td>
                    <td><span class="badge bg-danger">{{ data.qte_stock }}</span></td>
                    <td>{{ data.stock_securite }}</td>
                    <td>{{ data.p_achat_unit }} FCFA</td>
                    <td>{{ data.date_approv | date: 'dd/MM/yyyy'  }}</td>  
                
            </tr>
            </tbody>
        </table> 
    </div>
  </div>
  